body {
    margin:0 auto;
 }

header{
    background-color: #CBEBF2;   
    margin-bottom: 60px;
    border-bottom: 5px solid hotpink;
} 

h1{ 
    color: #02B8E0;
    font-family: 'Playball', cursive;
    font-size: 100px;
    text-align: left;
    text-shadow: white 6px 6px;
}

h1 img{ 
    width: 100px;
    margin-right: 0px; 
}

h2, h3 {
    color: hotpink;
    text-shadow: 2px 2px 2px darkgrey;
    text-transform: uppercase;
}

h2, h3:hover{ 
     text-shadow: 2px 2px 2px #02B8E0;
}
 
h3{ 
    margin-top: 0px;
    font-size: 20px;
    text-align: left;
}

#nav{
    margin-top: 30px;
    margin-bottom: -30px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    -webkit-box-shadow: 0px 4px 32px -12px rgba(0,0,0,1);
    -moz-box-shadow: 0px 4px 32px -12px rgba(0,0,0,1);
    box-shadow: 0px 4px 32px -12px rgba(0,0,0,1);
}
  
#nav ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
 }

#nav li {
    float: left;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family:'Agency FB';
}

#nav li a {
    display: block;
    color: #02B8E0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: #d9d9d9 1px 1px;
}

#nav li a:hover {
    color: hotpink;
}

footer {
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
 

img{
    max-width: 100%;
 }

.navheader{
    padding: 10px;
    margin-top:53px;

}
h3 img{
    width: 10%;
}

.sidemenu1{
    background: #06D85F;
    padding: 10px;
    width: 65%;
}

.sidemenu1 img{
    width: 30%;
} 

.sidemenu1 li{
    margin-left:-40px;
    font-size: 15px;
    list-style:initial;
    margin-top: 5px;
    line-height: 15px;
    height: 15px;
    display:block;
    word-spacing: 0.5px;
    letter-spacing: 0.4px;
}  

#emails{
    width: 30%;
    margin: 0 auto;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: hotpink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
 



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 65%;
   
}
 

/*.box {
  width:100%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}*/

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 1);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 2% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  height: 90%;
  position: relative;
  overflow: auto;

}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  width: 100%;
  overflow: auto;
}

.popup {
      width: 50%;

}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.boracaygallery img{
  margin:10px;
  max-width: 300px;
  max-height: 220px;
  min-height: 220px;
  border: 5px solid white;
  border-radius: 10px;
   -webkit-box-shadow: 0px 4px 32px -12px rgba(0,0,0,1);
    -moz-box-shadow: 0px 4px 32px -12px rgba(0,0,0,1);
    box-shadow: 0px 4px 32px -12px rgba(0,0,0,1); 
}



.front {
    /*transform-style: preserve-3d; 
        transition: transform 3s;*/  
    position: absolute;
    height: 100%;
    width:100%;

}
 /*.front:hover{
    transform:  rotateY(180deg);            backface-visibility:hidden;

}*/

.back, .backs { 
    height: 199px;
    width: 283px;
    background: #eed2d2;
    position: absolute;
    z-index: 1;
    font-weight: bold;
    padding: 20px; 
    margin: 15px 5px 5px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 32px -12px hotpink;
    -moz-box-shadow: 0px 4px 32px -12px hotpink;
    box-shadow: 0px 4px 32px -12px hotpink;
}
  /*.back:hover{
    box-shadow: 2px 2px 2px #adadad;
        backface-visibility:visible;

}*/ 

.image{
        transform-style: preserve-3d; 
        transition: transform 3s;
        max-width: 300px;
        max-height: 350px;
        backface-visibility:hidden;
         
}

.image:hover, .back {
    transform: rotateY(180deg);    
}

.images{
        transform-style: preserve-3d; 
        transition: transform 3s;
        max-width: 300px;
        max-height: 350px;
        backface-visibility:hidden;
         
}

.images:hover, .backs {
    transform: rotateX(180deg);    
}

.logo{
    

}
 
.grow { transition: all .2s ease-in-out; transform-style: preserve-3d; backface-visibility:hidden;}
.grow:hover { transform: scale(1.5) rotateZ(360deg); }
 
#myVideo{
    margin-top:55px;
}


/*.card:hover{
    transform: rotate(180deg);
 }
.tvau .card:hover{
    transform:rotate(180deg);
}


.card { 
    transform-style: preserve-3d;
    /*preserve-3d motverkar att ytan minskas i 2d
        och sen ökas i en fejkad 3d */
    /*transition: transform 1s ;*/
}
/*Beskriver hur korten ska visas:*/
/*section.container div.card figure {*/
/*.card img {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
}*/ 