body {
}

#wrapper{
    width:298px;
    margin: 0 auto;
    background:black;
    padding-top: 5px;
}

table{
    margin: 0 auto;
    
}

td{
    border-radius: 5px;
    padding: 10px;
    text-align:center;
    height: 50px;
    width: 50px;
} 

.topmenu2{
    background: pink;
    margin: 22px;

 }

#topmenu1{
    margin-bottom: 5px;
    margin-left: 8px;
    width: 92%;
    background: grey;
    color:white;
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    word-spacing: 39px;
    letter-spacing: 1px;
}
 
